@import url('https://fonts.bunny.net/css?family=inter:400,500,600,700');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 4s ease-in-out infinite;
}
